@import "./iconfont.css";

html,
body,
#app {
  height: 100%;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.el-scrollbar {
  height: 100%;

  .scrollbar-wrap {
    height: 100%;
    overflow: auto;
  }
}